

@media screen and (max-width: 1400px) {
    profile {
        height: 80vh;
        margin-bottom: 5rem;

    }

    .about-containers {
        flex-wrap: wrap;
    }
}





@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }

    #experience, .experience-details-container {
        margin-top: 2rem;
    }

    #profile, .main-container {
        display: block;
    }

    .arrow {
        display: none;
    }

    section, .main-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .pic-container{ 
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-container {
        margin-top: 0;
}

@media screen and (max-width: 600px) {
    #contact, footer {
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #profile {
        height: 85vh;
        margin-bottom: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    article {
        font-size: 1rem;
        margin: 0 auto;
        text-align: center;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-containers, .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contact-info-upper-container p, 
    .nav-links a {
        font-size: 1rem;
        text-align: center;
    }

    .experience-subtitle {
        font-size: 1.25rem;
        text-align: center;
    }

    .logo {
        font-size: 1.5rem;
        text-align: center;
        margin: 0 auto;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
        margin: 0 auto;
    }

    .section_pic-container {
        width: auto;
        height: 45vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        margin: 0 auto;
    }

    .section_text2 {
        font-size: 1.25rem;
        text-align: center;
    }

    .title {
        font-size: 2rem;
        text-align: center;
        margin: 0 auto;
    }

    .text-container {
        text-align: justify;
        margin: 0 auto;
    }

    .experience-details-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
}

